result/Cleania_Build/UnityPlayer.zip filter=lfs diff=lfs merge=lfs -text
result/Cleania_Export/cleania_export.7z.001 filter=lfs diff=lfs merge=lfs -text
result/Cleania_Export/cleania_export.7z.002 filter=lfs diff=lfs merge=lfs -text
result/Cleania_Export/cleania_export.7z.003 filter=lfs diff=lfs merge=lfs -text
result/cleania_showcase.mp4 filter=lfs diff=lfs merge=lfs -text
